body{
    background-color:rgb(94, 198, 202) 
}
body
{
    background-image:url("https://e1.pxfuel.com/desktop-wallpaper/894/7/desktop-wallpaper-ms-dhoni-full-screen-ms-dhoni.jpg");
    background-repeat:no-repeat;
    background-position:fixed;
    background-size:cover;
}
body
{
     color:black;
}
p{
    text-align:left;
    text-decoration:none;

}
h1{
    text-shadow:5px 5px;
}